body {
    background-color: #121212;
}
.head_button {
    margin: 0 10px;
    font-size: medium;
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #0D1420;
    color: white;
    transition: background-color 0.2s;
}
.head_button:hover {
    background-color: #0B111B;
}
.head_button_div {
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    background-color: #111827;
    height: 45px;
    margin-bottom: 5px;
}
.nav_button {
    font-size: medium;
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #2563EB;
    color: white;
    transition: background-color 0.2s;
}
.nav_button:hover {
    background-color: #1E40AF;
}
.q {
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color: #2563EB;
    padding: 0;
    height: 45px;
}
footer {
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    width: 99%;
  background-color: #0f0f0f;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
      color: #888;
        border-top: 1px solid #222;
}

a {
    text-decoration: none;
}
h1 {
    text-align: center;
}
p, h1, h2, button, a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name {
    color: white;
    text-align: center;
}

.white {
    color: white;
}
section {
    background-color: #1E1E1E;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button {
margin: 10px;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 15px 23px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #2563eb;
  transform: translateY(-2px);
}

.button:active {
  transform: scale(0.97);
}
section:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(37, 99, 235, 0.3);
}