<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/board.css')}}">
    <meta charset="UTF-8">
    <title>Дошка оголошень</title>
</head>
<body>
    <main>
        <section class="q">
            <h2>Message Board</h2><br>
            <a href="/main"><button>На головну</button></a>
        </section>
        <section class="q">
            <h4>Перед тим як писати ознайомтеся з <a href="/messages_rules", style="color:#3b82f6">правилами повідомлень</a></h4>
            <form method="POST">
    <textarea name="content" rows="3" cols="40"
              placeholder="Напишіть повідомлення..."></textarea><br>
    <button>Відправити</button>
</form></section>
<section>
    {% for msg in messages %}
    <div>
            <strong>{{ msg[2] }}</strong>
            <small>{{ msg[1] }}</small>
        <p>{{ msg[0] }}</p>
    </div>
{% endfor %}
</section>
    </main>
</body>

</html>
