<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../files/img/bd41005a-f6a5-4183-97e2-c3b02389a097.png" type="image/x-icon">
    <link rel="stylesheet" href="../files/css/index2 sites_styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дубай, ОАЕ</title>
</head>
<body link="black" alink="black" vlink="black">
    <header>
        <h1>Дубай, ОАЕ</h1>
        <a href="/index.html"><button class="button">На головну</button></a>
        <a href="/online_tur"><button class="button">Назад</button></a>
    </header>
    <main>
        <section>
            <div class="name">
                <h2>Про місто</h2>
            </div>
            <div class="main">
                <p>Дуба́й — найбільше місто в Об'єднаних Арабських Еміратах (ОАЕ), адміністративний центр однойменного емірату, що разом з іншими шістьма утворює країну. Населення становить 3,49 млн. осіб (станом на 2021 рік). Місто, розташоване на узбережжі Перської затоки, є великим транспортним вузлом, фінансовим і торговельним центром. У місті знаходяться найбільший торговельний порт та аеропорт ОАЕ.

                    Дубай був заснований у XVIII столітті як невелике рибальське село, на початку XX століття став регіональним торговим центром, а з кінця 1960-х років став швидко зростати завдяки доходам від торговлі нафтою. Зараз економіка Дубая спирається на доходи від торгівлі, туризму, авіації, нерухомості та фінансових послуг, натомість як видобуток нафти складає менше 1 відсотка ВВП емірату. Дубай має потужний туристичний бізнес, є другим у світі містом за кількістю п'ятизіркових готелів, містить найвищу будівлю у світі - Бурдж Халіфу висотою 828 м.</p>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Які туристичні місця можна відвідати</h2>
            </div>
            <div class="main">
                <h2>Архітектурні шедеври</h2>
                <ul>
                    <li>
                        Бурдж-Халіфа
                        <br>Найвища будівля у світі (828 м). Відвідайте оглядовий майданчик "At The Top" для панорамного виду на місто.
                    </li>
                    <li>
                        Бурдж-аль-Араб
                        <br>Розкішний готель у формі вітрила. Навіть якщо ви там не зупинитесь, можна забронювати вечерю в одному з його ресторанів.
                    </li>
                    <li>
                        Музей майбутнього
                        <br>Інноваційна будівля з інтерактивними виставками, присвяченими науці та технологіям майбутнього.
                    </li>
                </ul>
                <h2>Розваги та активний відпочинок</h2>
                <ul>
                    <li>
                        Dubai Mall
                        <br>Один із найбільших торгових центрів світу з акваріумом, ковзанкою та безліччю магазинів.
                    </li>
                    <li>
                        Dubai Fountain
                        <br>Танцюючі фонтани біля Бурдж-Халіфа з вечірнім шоу світла та музики.
                    </li>
                    <li>
                        Desert Safari
                        <br>Сафарі в пустелі: їзда на джипах, катання на верблюдах, пісочний серфінг і традиційні бедуїнські вечері.
                    </li>
                    <li>
                        Аквапарк Atlantis Aquaventure
                        <br>Частина готелю Atlantis на острові Пальма Джумейра. Пропонує екстремальні водні гірки та лагуни з морськими тваринами.
                    </li>
                </ul>
                <h2>Природа і пляжі</h2>
                <ul>
                    <li>
                        The Palm Jumeirah
                        <br>Штучний острів у формі пальми з розкішними курортами та пляжами.
                    </li>
                    <li>
                        Дубайський сад чудес 
                        <br>Найбільший у світі квітковий сад із неймовірними композиціями.
                    </li>
                    <li>
                        Dubai Creek
                        <br>Історичний район, де можна покататися на традиційних човнах (абра) або відвідати суки (ринок).
                    </li>
                </ul>
                <h2>Культура та історія</h2>
                <ul>
                    <li>
                        Аль-Фахіді
                        <br>Старий район Дубая з вузькими вуличками, музеями та культурними центрами.
                    </li>
                    <li>
                        Дубайський музей
                        <br>Дослідіть історію емірату в найстарішій будівлі Дубая.
                    </li>
                </ul>
                <h2>Панорамні майданчики</h2>
                <ul>
                    <li>
                        Айн Дубай
                        <br>Найвища оглядова колесо у світі на острові Bluewaters Island.
                    </li>
                    <li>
                        Sky Views Dubai
                        <br>Скляна гірка та панорамні види на центр Дубая.
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Відеоогляд</h2>
            </div>
            <div class="main">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TNRBJAMwkvM?si=wlvUgMdzWDesOV36" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Віртуальна прогулянка містом</h2>
            </div>
            <div class="main">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1736098857494!6m8!1m7!1szdINBxzGneSfmv64rUZk-w!2m2!1d25.19905394422387!2d55.27341545787926!3f155.6727912021801!4f42.45322015211522!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Галерея</h2>
            </div>
            <div class="main">
                <div class="cont">
                    <img src="../files/img/dybai/20-things-to-know-before-you-move-to-the-uae-1-scaled.webp" alt="" class="img" title="Дубай, ОАЕ">
                    <img src="../files/img/dybai/shutterstock-1291548640.avif" alt="" class="img" title="Дубай, ОАЕ">
                </div>
                <div class="cont">
                    <img src="../files/img/dybai/4151479775a27ec4886c71.jpg" alt="" class="img" title="Дубай, ОАЕ">
                    <img src="../files/img/dybai/e69a316a25075d2065e63153c32788a2.jpg" alt="" class="img" title="Дубай, ОАЕ">
                </div>
                <div class="cont">
                    <img src="../files/img/dybai/images (1).jpg" alt="" class="img" title="Дубай, ОАЕ">
                    <img src="../files/img/dybai/images (2).jpg" alt="" class="img" title="Дубай, ОАЕ">
                </div>
                <div class="cont">
                    <img src="../files/img/dybai/images (3).jpg" alt="" class="img" title="Дубай, ОАЕ">
                    <img src="../files/img/dybai/images.jpg" alt="" class="img" title="Дубай, ОАЕ">
                </div>
                <div class="cont">
                    <img src="../files/img/dybai/oyLcYvyrCp.webp" alt="" class="img" title="Дубай, ОАЕ">
                    <img src="../files/img/dybai/TCB5pa17132660977116_b.jpg" alt="" class="img" title="Дубай, ОАЕ">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p><a href="../index.html">Головна | </a><a href="../contact.html">Конаткти | </a><a href="../location.html">Локація</a></p>

    </footer>
</body>
</html>