<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Your Flight</title>
    </head>
    <body alink="white" vlink="white" link="white">
        <header>
            <div class="head_button_div">
                <a href="/login"><button class="head_button">Увійти</button></a>
                <a href="/register"><button class="head_button">Зареєструватися</button></a>
            </div>

        </header>
        <main>
            <div>
                <h1 id="name">Тур агенство<br>Your Flight</h1>
                <p class="text">На цьому сайті ви дізнаєтесь про класні туристичні місця та які авіякомпанії найкраще підійдуть для перельоту в те чи інше місце</p>
                <p class="text">Тут ще ми можемо провести онлайн тур різними визначними пам'ятками різних країн та міст</p>
            </div>
            <section>
                <p><a href="/main"><button type="button" class="button">Головна</button></a></p>
            </section>
        </main>
    </body>
</html>