<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../img/bd41005a-f6a5-4183-97e2-c3b02389a097.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index2 sites_styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Київ, Україна</title>
</head>
<body link="black" vlink="black" vlink="black">
    <header>
        <h1>Київ, Україна</h1>
        <a href="../index.html"><button class="button">На головну</button></a>
        <a href="../index2.html"><button class="button">Назад</button></a>
    </header>
    <main>
        <section>
            <div class="name">
                <h2>Про місто</h2>
            </div>
            <div class="main">
                <p>
                    Київ — столиця та найбільше місто України. Розташований у середній течії Дніпра, у північній Наддніпрянщині. Політичний, соціально-економічний, транспортний, освітньо-науковий, історичний, культурний та духовний центр України. У системі адміністративно-територіального устрою України Київ має спеціальний статус, визначений Конституцією, і не входить до складу жодної області, хоча і є адміністративним центром Київської області[8]. Місце розташування центральних органів влади України, іноземних місій, штаб-квартир більшості підприємств і громадських об'єднань, що працюють в Україні.

За «Повістю временних літ», Київ заснував полянський князь Кий зі своїми братами Щеком і Хоривом та сестрою Либіддю. Згідно з археологічними даними та писемними джерелами, початок безперервного розвитку Києва датується 2-ю половиною V ст. — 1-ю половиною VI століття; осередком розширення Києва була гора Замкова. Протягом своєї історії місто було столицею полян, Русі і України, а також адміністративним центром однойменних князівства, землі, воєводства, повіта, полку, намісництва, губернії, округи, района, генеральної округи, і зокрема православної митрополії, генерал-губернаторства і військової округи.

Один із найстаріших історичних центрів Східної Європи та християнства — Софійський собор та Києво-Печерська лавра — внесені до списку Світової спадщини ЮНЕСКО.
                </p>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Які туристичні місця можна відвідати</h2>
            </div>
            <div class="main">
                    <h2>Історичні пам'ятки</h2>
                    <ul>
                        <li>
                            Києво-Печерська лавра
                            <br>Один із найвідоміших православних монастирів, внесений до списку Світової спадщини ЮНЕСКО. Тут можна побачити дзвіниці, собори та печери.
                        </li>
                        <li>Софійський собор
                            <br>Ще одна пам'ятка ЮНЕСКО, яка вражає своєю архітектурою та старовинними фресками.
                        </li>
                        <li>
                            Золоті ворота
                            <br>Середньовічна оборонна споруда, яка є символом Києва. Усередині розташований музей.
                        </li>
                        <li>
                            Андріївський узвіз
                            <br>Історична вулиця з безліччю галерей, магазинів сувенірів і кафе. Тут знаходиться Андріївська церква.
                        </li>
                    </ul>
                    <h2>Парки та природні зони</h2>
                    <ul>
                        <li>
                            Маріїнський парк
                            <br>Затишний парк біля Верховної Ради з видом на Дніпро та Київський міст.                            
                        </li>
                        <li>
                            Ботанічний сад ім. Гришка
                            <br>Велика зелена зона з різноманітними рослинами, особливо гарна в період цвітіння магнолій.
                        </li>
                        <li>
                            Труханів острів
                            <br>Популярне місце для відпочинку на природі, з пляжами та велодоріжками.
                        </li>
                    </ul>
                    <h2>Сучасні локації</h2>
                    <ul>
                        <li>
                            Пішохідно-велосипедний міст (Міст Кличка)
                            <br>Скляний міст, який з'єднує парк "Володимирська гірка" та Арку дружби народів.  
                        </li>
                        <li>
                            Арка дружби народів
                            <br>Відомий оглядовий майданчик з видом на Дніпро.
                        </li>
                        <li>
                            SkyMall або Ocean Plaza
                            <br>Великі торгово-розважальні центри для шопінгу та розваг.
                        </li>
                    </ul>
                    <h2>Музеї</h2>
                    <ul>
                        <li>
                            Музей Великої Вітчизняної війни
                            <br>Комплекс з монументом "Батьківщина-мати" і численними експонатами про Другу світову війну.
                        </li>
                        <li>
                            Національний художній музей України
                            <br>Тут представлені шедеври українського мистецтва.
                        </li>
                        <li>
                            Музей Булгакова
                            <br>Розташований на Андріївському узвозі, присвячений життю й творчості відомого письменника.   
                        </li>
                    </ul>
                    <h2>Нетипові місця</h2>
                    <ul>
                        <li>
                            Сталкерські екскурсії
                            <br>Локації на кшталт закинутих об'єктів або незвичних місць у стилі гри Metro 2033.
                        </li>
                        <li>
                            Подільський район
                            <br>Старовинна частина міста з атмосферними вуличками, кафе та модними артпросторами.
                        </li>
                    </ul>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Відеоогляд</h2>
            </div>
            <div class="main">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jsiXUDNf3DM?si=zNUSAE1F-n3mTw-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Віртуальна прогулянка містом</h2>
            </div>
            <div class="main">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1735484832563!6m8!1m7!1s96ydEfY1YZCpmaTr_EcRGA!2m2!1d50.4501013167445!2d30.52433852069416!3f126.275371526987!4f18.949740081219332!5f0.4000000000000002" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Галерея</h2>
            </div>
            <div class="main">
                <div class="cont">
                    <img class="img" src="../files/img/kiyv/1.jpg" alt="" title="Київ">
                    <img class="img" src="../files/img/kiyv/23-cikavih-faktu-pro-kiyiv.jpg" alt="" title="Київ">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/kiyv/35a76ce2-55434582a47941ea96827d5cd9291fe5.jpg" alt="" title="Київ">
                    <img class="img" src="../files/img/kiyv/630_360_1630176848-103.jpg" alt="" title="Київ">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/kiyv/76b8b44-kyiv-infrastruktura-1600.jpg" alt="" title="Київ">
                    <img class="img" src="../files/img/kiyv/h_ua_den_kieva.jpg" alt="" title="Київ">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/kiyv/images.jpg" alt="" title="Київ">
                    <img class="img" src="../files/img/kiyv/kiev_skyline_beautiful_fiery_sunset_ukraine_monument_motherland_1200x675.jpg" alt="" title="Київ">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/kiyv/maksym-diachenko-xkfWHbjlKhI-unsplash-фінал.jpg" alt="" title="Київ">
                    <img class="img" src="../files/img/kiyv/Maydan_500.jpg" alt="" title="Київ">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p><a href="../index.html">Головна | </a><a href="../contact.html">Конаткти | </a><a href="../location.html">Локація</a></p>

    </footer> 
</body>
</html>