<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{url_for('static', filename='img/bd41005a-f6a5-4183-97e2-c3b02389a097.png')}}" type="image/x-icon">
        <link rel="stylesheet" href="{{url_for('static', filename='css/loc.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Локація - Your Flight</title>
    </head>
    <body link="black" alink="black" vlink="black">
    <header>
        <h1>Локація - Your Flight</h1>
        <div><a href="/main"><button class="button">На головну</button></a></div>
    </header>
    <main>
        <section>

            <div class="section2">
                <p>Галактика: Молочний шлях</p>
                <p>Система: Сонячна система</p>
                <p>Планета: Земля</p>
                <p>Континент: Євразія</p>
                <p>Частина світу: Європа</p>
                <p>Країна: Україна</p>
                <p>Область: Волинська</p>
                <p>Вулиця: Шопена 18</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d530.688799160181!2d25.33834237066668!3d50.74969824842811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472599fb3df85ab5%3A0xe14ee4e1a009d28d!2z0J_QsNC70LDRhiDRg9GH0L3RltCy0YHRjNC60L7RlyDQvNC-0LvQvtC00ZY!5e0!3m2!1suk!2sua!4v1735148131284!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </section>
    </main>
    <footer>
        <p><a href="/main">Головна | </a><a href="#">Локація</a></p>

    </footer> 
    </body>
</html>