<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../img/bd41005a-f6a5-4183-97e2-c3b02389a097.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index2 sites_styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лондон, Велика Британія</title>
</head>
<body link="black" vlink="black" alink="black">
    <header>
        <h1>Лондон, Велика Британія</h1>
        <a href="../index2.html"><button class="button">Назад</button></a>
        <a href="../index.html"><button class="button">На головну</button></a>
    </header>
    <main>
        <section>
            <div class="name">
                <h2>Про місто</h2>
            </div>
            <div class="main">
                <p>Ло́ндон — столиця Англії та Сполученого Королівства, розташована на річці Темза. Одне з найбільших міст Європи. Площа 1572 км²; у 2021 році населення становило 8 799 728 містян, а з передмістями близько 10 млн.

                    Середмістя Лондона є фінансовим і комерційним центром Сполученого Королівства Великої Британії та Північної Ірландії. Великий Лондон із 1965 року складається з 32-х округів. Важливе джерело доходу — туризм. Найвідвідуванішими місцями є: Лондонський Тауер, Собор Святого Павла, Букінгемський палац, Вестмінстерське абатство. Лондонський університет є найбільшим у країні. Фахові корпорації юристів Судові інни існують із XIII століття. Лондон — центр англійської театральної діяльності від часу побудови першого театру Джеймсом Бербеджем 1576 року.
                    
                    Місто є найбільшим чи одним із двох найбільших (нарівні з Нью-Йорком) фінансових центрів і бізнес-хабів у світі. Також, за версією консалтингової компанії A.T.Kearney, Лондон є найвпливовішим містом у світі.</p>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Які туристичні місця можна відвідати</h2>
            </div>
            <div class="main">
                <h2>Історичні пам'ятки:</h2>
                <ul>
                    <li>
                        Біг-Бен і Вестмінстерський палац
                        <br>Знаменитий годинник і парламент Великобританії – символ Лондона.
                    </li>
                    <li>
                        Тауер і Тауерський міст
                        <br>Історична фортеця, де зберігаються королівські коштовності. Недалеко розташований мальовничий міст.
                    </li>
                    <li>
                        Букінгемський палац
                        <br>Резиденція королеви, де можна побачити зміну варти.
                    </li>
                </ul>
                <h2>Культурні місця:
                </h2>
                <ul>
                    <li>
                        Британський музей
                        <br>Безкоштовний музей із колекціями з усього світу, включаючи Розеттський камінь і мармури Парфенона.
                    </li>
                    <li>
                        Національна галерея
                        <br>Знаходиться на Трафальгарській площі. Тут є роботи Ван Гога, Рембрандта, да Вінчі та інших.
                    </li>
                    <li>
                        Тейт Модерн
                        <br>Галерея сучасного мистецтва на березі Темзи.
                    </li>
                </ul>
                <h2>Для сімейного відпочинку:</h2>
                <ul>
                    <li>
                        Лондонське око
                        <br>Гігантське колесо огляду з фантастичним видом на місто.
                    </li>
                    <li>
                        Музей природознавства
                        <br>Чудове місце для дітей і дорослих із динозаврами, скелетами китів та інтерактивними експонатами.
                    </li>
                    <li>
                        Зоопарк Лондона
                        <br>Один із найстаріших зоопарків світу з великою кількістю тварин.
                    </li>
                </ul>
                <h2>Парки і зелені зони:</h2>
                <ul>
                    <li>
                        Гайд-парк
                        <br>Величезний парк для прогулянок, катання на човнах чи пікніків.
                    </li>
                    <li>
                        Ріджентс-парк
                        <br>Чудове місце для спокійного відпочинку, де також розташований зоопарк.
                    </li>
                </ul>
                <h2>Модні місця:</h2>
                <ul>
                    <li>
                        Ковент-Гарден
                        <br>Район з кафе, ринками, вуличними виступами та бутиками.
                    </li>
                    <li>
                        Камден-Маркет
                        <br>Популярний ринок із модним одягом, аксесуарами, їжею та сувенірами.
                    </li>
                </ul>
                <h2>Унікальні місця:</h2>
                <ul>
                    <li>
                        Грінвіч
                        <br>Район, де знаходиться нульовий меридіан, Королівська обсерваторія та музей мореплавства.
                    </li>
                    <li>
                        Шерлок Холмс Музей
                        <br>Будинок на Бейкер-стріт, 221B – ідеальне місце для фанатів літератури та детективів.
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Відеоогляд</h2>
            </div>
            <div class="main">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YUzFyMlmVQc?si=0eQsqEhIS8N0iO6D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Віртуальна прогулянка містом</h2>
            </div>
            <div class="main">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1736086462817!6m8!1m7!1scM5T0KArF4w9dcNnNFYIcw!2m2!1d51.50090995847367!2d-0.1227142835102407!3f244.66655148759293!4f14.93337731969119!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Галерея</h2>
            </div>
            <div class="main">
                <div>
                    <img src="../files/img/london/1dd23cc06c31c31ba7df72f2c74db5bc.jpg" alt="" class="img" title="Лондон, Велика Британія">
                    <img src="../files/img/london/default_115742.jpg" alt="" class="img" title="Лондон, Велика Британія">
                </div>
                <div>
                    <img src="../files/img/london/image1.jpg" alt="" class="img" title="Лондон, Велика Британія">
                    <img src="../files/img/london/images.jpg" alt="" class="img" title="Лондон, Велика Британія">
                </div>
                <div>
                    <img src="../files/img/london/imgonline_com_ua_resize_rhl3gathqc7a_46715650eb090c5b7a68fc44bba5befd_1300x820.jpg" alt="" class="img" title="Лондон, Велика Британія">
                    <img src="../files/img/london/London-1.jpg" alt="" class="img" title="Лондон, Велика Британія">
                </div>
                <div>
                    <img src="../files/img/london/London-5_0.jpg" alt="" class="img" title="Лондон, Велика Британія">
                    <img src="../files/img/london/London-6_0.jpg" alt="" class="img" title="Лондон, Велика Британія">
                </div>
                <div>
                    <img src="../files/img/london/london1.jpg" alt="" class="img" title="Лондон, Велика Британія">
                    <img src="../files/img/london/Tower_bridge_London_Twilight_-_November_2006.jpg" alt="" class="img" title="Лондон, Велика Британія">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p><a href="../index.html">Головна | </a><a href="../contact.html">Конаткти | </a><a href="../location.html">Локація</a></p>

    </footer> 
</body>
</html>