<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/messages_rules.css')}}">
    <meta charset="UTF-8">
    <title>Правила дошки оголошень</title>
</head>
<body>
    <main>
        <section>
            <h2>Правила користування дошкою оголошень</h2>
            <a href="/main"><button>На головну</button></a>
            <a href="/board"><button>Дошка оголошень</button></a>
        </section>
        <section>
            <p>Поки що не має правил можете писати вільно😉</p>
        </section>
    </main>
</body>
</html>