<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../img/bd41005a-f6a5-4183-97e2-c3b02389a097.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index2 sites_styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нью-Йорк, США</title>
</head>
<body link="black" alink="black" vlink="black">
    <header>
        <h1>Нью-Йорк, США</h1>
        <a href="../index2.html"><button class="button">Назад</button></a>
        <a href="../index.html"><button class="button">На головну</button></a>
    </header>
    <main>
        <section>
            <div class="name">
                <h2>Про місто</h2>
            </div>
            <div class="main">
                <p>Нью-Йо́рк або The City of New York, дослівно — «Новий Йорк» — найбільше місто у США, розташоване на Атлантичному узбережжі біля гирла річки Гудзон. Населення — 8 175 133 особи (2010), міської агломерації — 19 млн осіб. Оцінка населення на 2018 рік — 8,4 млн осіб.

                    Нью-Йорк — один із найбільших у світі торговельно-фінансових центрів (Нью-Йоркська фондова біржа, транснаціональні корпорації); великий промисловий центр (одяг, поліграфія, транспортні засоби, харчові продукти) США та Північної Америки; конгломератом портів Нью-Йорк сполучений системою каналів з Великими Озерами; великий транспортний вузол (авіатранспорт); численні вищі школи (Колумбійський університет); Метрополітен Опера; великі парки (Централ-парк); головна частина міста — Мангеттен; музеї, мистецькі галереї; пам'ятки архітектури XVII та XIX століть; численні хмарочоси, переважно на Мангеттені; багато пам'ятників (зокрема Т. Шевченкові в Арров-парку); Статуя Свободи. У Нью-Йорку розташовано штаб-квартиру ООН.
                    
                    За результатами опитування, що провів журнал Forbes серед фахівців 2010 року, Нью-Йорк потрапив до дванадцятки найкрасивіших міст світу.
                    
                    У місті існує чимала українська діаспора, діють українська церква святого Юра та різноманітні українські організації.</p>
            </div>
        </section>
        <section>
            <div class="name">
               <h2>Які туристичні місця можна відвідати</h2> 
            </div>
            <div class="main">
                <h2>Іконічні пам'ятки</h2>
                <ul>
                    <li>
                        Статуя Свободи та острів Елліс
                        <br>Символ свободи та незалежності. Можна піднятися на корону статуї та відвідати музей на острові Елліс.
                    </li>
                    <li>
                        Центральний парк
                        <br>Величезний парк з мальовничими стежками, озерами та історичними місцями. Тут можна взяти напрокат човен чи прогулятися на велосипеді.
                    </li>
                    <li>
                        Емпайр-стейт-білдінг
                        <br>Одна з найвідоміших хмарочосів світу з оглядовим майданчиком, звідки відкривається чудовий вид на місто.
                    </li>
                    <li>
                        Таймс-сквер
                        <br>Серце Манхеттена з яскравими екранами, магазинами, театрами та атмосферою, яка ніколи не спить.
                    </li>
                </ul>
                <h2>Культурні місця</h2>
                <ul>
                    <li>
                        Музей мистецтва Метрополітен
                        <br>Один із найбільших музеїв світу з колекціями від античності до сучасного мистецтва.
                    </li>
                    <li>
                        Музей сучасного мистецтва
                        <br>Унікальні твори модернізму, включаючи роботи Ван Гога, Пікассо та Уорхола.
                    </li>
                    <li>
                        Американський музей природознавства
                        <br>Величезна колекція природничих експонатів, включаючи динозаврів та планетарій.
                    </li>
                </ul>
                <h2>Мости та оглядові точки</h2>
                <ul>
                    <li>
                        Бруклінський міст
                        <br>Історичний міст, з якого відкривається чудовий вид на Манхеттен та Бруклін.
                    </li>
                    <li>
                        Оглядова платформа Top of the Rock
                        <br>Оглядовий майданчик в Рокфеллер-центрі з панорамним видом на місто.
                    </li>
                    <li>
                        One World Observatory
                        <br>Оглядовий майданчик у Всесвітньому торговому центрі, з видом на Нью-Йорк і річку Гудзон.
                    </li>
                </ul>
                <h2>Інші цікаві місця</h2>
                <ul>
                    <li>
                        Висока лінія
                        <br>Міський парк, створений на колишній залізничній колії, з унікальними пейзажами.
                    </li>
                    <li>
                        Бродвей
                        <br>Перегляд знаменитих театральних вистав чи мюзиклів.
                    </li>
                    <li>
                        Челсі Маркет
                        <br>Популярне місце для гурманів із великим вибором їжі та сувенірів.
                    </li>
                    <li>
                        Китайський квартал та Маленька Італія
                        <br>Культурно різноманітні райони зі смачною їжею та унікальною атмосферою.
                    </li>
                    <li>
                        Бронксський зоопарк
                        <br>Один із найбільших міських зоопарків світу.
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Відеоогляд</h2>
            </div>
            <div class="main">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eB6XYzhPQQU?si=20peEUZp5IZaY2F4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Віртуальна прогулянка містом</h2>
            </div>
            <div class="main">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1736088141447!6m8!1m7!1sNYigM1H6Vz7eLR8fRmykuw!2m2!1d40.75797175664046!2d-73.98554423840551!3f27.387393322287053!4f23.65536255081021!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <div class="name">
               <h2>Галерея</h2> 
            </div>
            <div class="main">
                <div class="cont">
                    <img src="../files/img/new-york/1684924605330.jpg" alt="" class="img" title="Нью-Йорк, США">
                    <img src="../files/img/new-york/640px-NYC-Skyline-2.jpg" alt="" class="img" title="Нью-Йорк, США">
                </div>
                <div class="cont">
                    <img src="../files/img/new-york/block_145243.jpg" alt="" class="img" title="Нью-Йорк, США">
                    <img src="../files/img/new-york/d780de8d934f42fba30f5d238a4b4bf7.webp" alt="" class="img" title="Нью-Йорк, США">
                </div>
                <div class="cont">
                    <img src="../files/img/new-york/ecooboi-nochnoj-new-york-10049.jpg" alt="" class="img" title="Нью-Йорк, США">
                    <img src="../files/img/new-york/i57.jpg" alt="" class="img" title="Нью-Йорк, США">
                </div>
                <div class="cont">
                    <img src="../files/img/new-york/new-york001svoboda.jpg" alt="" class="img" title="Нью-Йорк, США">
                    <img src="../files/img/new-york/Nju-Jork-foto-free-1000x700.webp" alt="" class="img" title="Нью-Йорк, США">
                </div>
                <div class="cont">
                    <img src="../files/img/new-york/times_square.webp" alt="" class="img" title="Нью-Йорк, США">
                    <img src="../files/img/new-york/центральный+парк.jpg" alt="" class="img" title="Нью-Йорк, США">
                </div>
            </div>
        </section>
        <footer>
            <p><a href="../index.html">Головна | </a><a href="../contact.html">Конаткти | </a><a href="../location.html">Локація</a></p>
    
        </footer> 
    </main>
</body>
</html>