<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../img/bd41005a-f6a5-4183-97e2-c3b02389a097.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index2 sites_styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Париж, Франція</title>
</head>
<body alink="black" vlink="black" link="black">
    <header>
        <h1>Париж, Франція</h1>
        <a href="../index2.html"><button class="button">Назад</button></a>
        <a href="../index.html"><button class="button">На головну</button></a>
    </header>
    <main>
        <section>
            <div class="name">
                <h2>Про місто</h2>
            </div>
            <div class="main">
                <p>Пари́ж — столиця Франції, адміністративний центр регіону Іль-де-Франс. Окремий департамент Франції. Розташований на річці Сена. Населення — 2 175 601 особа (на 01.01.2021), міська агломерація — 10 млн, 2015 року населення міста становило 2 206 488 осіб, агломерації — 12 405 426. У місті розташовані штаб-квартири низки міжнародних організацій: ЮНЕСКО, Організації економічного співробітництва та розвитку, Міжнародної торгівельної палати та інших. Центр світової торгівлі (автомобілі, літаки, канцелярські товари й туристичне спорядження); головний національний промисловий округ (засоби транспорту, енергетичне обладнання, електроніка, одяг, косметика), фінансово-банківська столиця; великий транспортний вузол (2 міжнародні аеропорти).</p>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Які туристичні місця можна відвідати</h2>
            </div>
            <div class="main">
                <h2>Ікони Парижа</h2>
                <ul>
                    <li>Ейфелева вежа — символ міста, звідки відкривається чудовий вид. Можна піднятися на вершину або насолодитися вежою ввечері, коли вона підсвічується.</li>
                    <li>Лувр — один із найбільших музеїв у світі, де зберігається знаменита "Мона Ліза" Леонардо да Вінчі.</li>
                    <li>Собор Паризької Богоматері (Нотр-Дам) — готичний шедевр із вражаючими вітражами та багатою історією (зараз триває реставрація).</li>
                    <li>Тріумфальна арка — історичний монумент на Єлисейських полях, що символізує перемогу.</li>
                </ul>
                <h2>Прогулянкові місця</h2>
                <ul>
                    <li>Єлисейські поля — елітний бульвар із магазинами, ресторанами та кінцевою точкою на Тріумфальній арці.</li>
                    <li>Монтмартр — район із вузькими вуличками, художниками та знаменитою базилікою Сакре-Кьор.</li>
                    <li>Сена — прогулянка вздовж річки або круїз на катері відкриє новий погляд на місто.</li>
                </ul>
                <h2>Культура і мистецтво</h2>
                <ul>
                    <li>Музей Орсе — колекція імпресіоністів та постімпресіоністів, включаючи роботи Моне, Ван Гога, Дега.</li>
                    <li>Центр Помпіду — сучасне мистецтво у футуристичній будівлі.</li>
                    <li>Опера Гарньє — розкішна будівля, яка захоплює інтер’єром.</li>
                </ul>
                <h2>Сучасний Париж</h2>
                <ul>
                    <li>Дефанс — район із сучасною архітектурою та Великим Аркою.</li>
                    <li>Фонд Луї Віттон — арт-центр у футуристичному дизайні.</li>
                </ul>
                <h2>Парки і сади</h2>
                <ul>
                    <li>Люксембурзький сад — чудове місце для відпочинку серед фонтанів і квітів.</li>
                    <li>Сади Тюїльрі — зелена зона біля Лувра.</li>
                    <li>Парк Ля Віллет — сучасний парк із музеями та виставками.</li>
                </ul>
                <h2>Нетипові місця</h2>
                <ul>
                    <li>Катакомби Парижа — підземні тунелі з людськими кістками, які зберігають історію міста</li>
                    <li>Маре — старовинний район із цікавими крамничками, кафе та вуличками.</li>
                </ul>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Відеоогляд</h2>
            </div>
            <div class="main">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eevf3wXukzc?si=3yqbmGvx67CbnnU6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Віртуальна прогулянка містом</h2>
            </div>
            <div class="main">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1735548752671!6m8!1m7!1s_QIlb2hXz8dehCD3zR6yrA!2m2!1d48.85911827107426!2d2.293644702795504!3f142.9256453827053!4f35.055740342542904!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Галерея</h2>
            </div>
            <div class="main">
                <div class="cont">
                    <img class="img" src="../files/img/paris/1000-fe86a5991e970788caee8285b5a56ab0.jpg" alt="" title="Париж, Франція">
                    <img class="img" src="../files/img/paris/1650623970_21-sportishka-com-p-eifeleva-bashnya-nochyu-krasivo-foto-32.jpg" alt="" title="Париж, Франція">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/paris/3453453.jpg" alt="" title="Париж, Франція">
                    <img class="img" src="../files/img/paris/france-paris-eiffel-tower-and-trocadero-gardens-1280x720.jpg" alt="" title="Париж, Франція">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/paris/images.jpg" alt="" title="Париж, Франція">
                    <img class="img" src="../files/img/paris/istockphoto-1324189687-612x612.jpg" alt="" title="Париж, Франція">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/paris/Paris.jpg" alt="" title="Париж, Франція">
                    <img class="img" src="../files/img/paris/paris_luvr.jpg" alt="" title="Париж, Франція">
                </div>
                <div class="cont">
                    <img class="img" src="../files/img/paris/parisblog-1024x682.webp" alt="" title="Париж, Франція">
                    <img class="img" src="../files/img/paris/unnamed.jpg" alt="" title="Париж, Франція">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p><a href="../index.html">Головна | </a><a href="../contact.html">Конаткти | </a><a href="../location.html">Локація</a></p>

    </footer> 
</body>
</html>