<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../img/bd41005a-f6a5-4183-97e2-c3b02389a097.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index2 sites_styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рим, Італія</title>
</head>
<body link="black" alink="black" vlink="black">
    <header>
        <h1>Рим, Італія</h1>
        <a href="../index2.html"><button class="button">Назад</button></a>
        <a href="../index.html"><button class="button">На головну</button></a>
    </header>
    <main>
        <section>
            <div class="name">
                <h2>Про місто</h2>
            </div>
            <div class="main">
                <p>Рим — столиця Італії з 1870, адміністративний центр провінції Рим та області Лаціо. Населення понад 2,76 млн осіб, це найбільша за територією і кількістю жителів комуна країни. Міська агломерація нараховує до 3,7 млн жителів і є другою за величиною в Італії після Мілана. Рим розташований в центральній частині Апеннінського півострова на річці Тибр, поблизу узбережжя Тірренського моря.

                    Одне з найдавніших міст світу, столиця Стародавнього Риму (за переказом із 753 до н. е.). Інші назви: «вічне місто», «місто на сімох пагорбах» — спочатку поселення було на пагорбі Палатин, згодом були заселені сусідні пагорби — Капітолій і Квіринал. Дещо пізніше поселення з'явилися на інших 4 пагорбах: Целій, Авентін, Есквілін і Вімінал.</p>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Які туристичні місця можна відвідати</h2>
            </div>
            <div class="main">
                <h2>Історичні пам’ятки</h2>
                <ul>
                    <li>
                        Колізей
                        <br>Один із найвідоміших амфітеатрів світу, де проходили гладіаторські бої.
                    </li>
                    <li>
                        Римський Форум
                        <br>Серце Стародавнього Риму з залишками храмів, арок та громадських будівель.
                    </li>
                    <li>
                        Пантеон
                        <br>Чудово збережений храм, присвячений усім богам, з унікальним куполом.
                    </li>
                    <li>
                        Замок Святого Ангела
                        <br>Колишня фортеця та мавзолей, з'єднаний з Ватиканом потаємним проходом.
                    </li>
                </ul>
                <h2>Релігійні об’єкти</h2>
                <ul>
                    <li>
                        Ватикан та Собор Святого Петра
                        <br>Найбільша католицька церква світу із вражаючим інтер’єром.
                    </li>
                    <li>
                        Сикстинська капела
                        <br>Відомий твір Мікеланджело, що прикрашає стелю капели у Ватикані.
                    </li>
                </ul>
                <h2>Архітектурні перлини</h2>
                <ul>
                    <li>
                        Фонтан Треві
                        <br>Один із найгарніших фонтанів у світі. За традицією, кидайте монету, щоб повернутися до Риму.
                    </li>
                    <li>
                        Іспанські сходи
                        <br>Ідеальне місце для прогулянок та відпочинку в центрі міста.
                    </li>
                </ul>
                <h2>Музеї та галереї</h2>
                <ul>
                    <li>
                        Капітолійські музеї
                        <br>Один із найстаріших музейних комплексів, де можна побачити шедеври римського мистецтва.
                    </li>
                    <li>
                        Галерея Боргезе
                        <br>Місце з унікальною колекцією картин, скульптур і мозаїк.
                    </li>
                </ul>
                <h2>Інші цікаві місця</h2>
                <ul>
                    <li>
                        Площа Навона
                        <br>Популярне місце з красивими фонтанами та архітектурою.
                    </li>
                    <li>
                        Апієва дорога
                        <br>Давньоримська дорога, яка зберегла свій історичний вигляд.
                    </li>
                    <li>
                        Трастевере
                        <br>Автентичний район із вузькими вуличками, атмосферними ресторанами й затишними кафе.
                    </li>
                    <li>
                        Остія Антика
                        <br>Археологічний парк, що дає змогу побачити, як виглядало стародавнє римське місто.
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Відеоогляд</h2>
            </div>
            <div class="main">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/B8sqL5rulxs?si=KRyqkSgJWvrGli0n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Віртуальна прогулянка містом</h2>
            </div>
            <div class="main">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1736081943440!6m8!1m7!1s9hda2imIZ1lBc_-8oqN4_w!2m2!1d41.89112044758809!2d12.49246298753662!3f186.58267995579504!4f30.438294260728313!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <div class="name">
                <h2>Галерея</h2>
            </div>
            <div class="main">
                <div class="cont">
                    <img src="../files/img/rome/0_c5ebc1d6bc86e65030e632658812d8d0d5df2101.png.webp" alt="" class="img" title="Рим, Італія">
                    <img src="../files/img/rome/1545079286.jpg" alt="" class="img" title="Рим, Італія">
                </div>
                <div class="cont">
                    <img src="../files/img/rome/Colosseum,_Rome,_wts.jpg" alt="" class="img" title="Рим, Італія">
                    <img src="../files/img/rome/Dostoprimechatelnosti-Rima-e1531343149904.jpg" alt="" class="img" title="Рим, Італія">
                </div>
                <div class="cont">
                    <img src="../files/img/rome/GettyImages-468217263.webp" alt="" class="img" title="Рим, Італія">
                    <img src="../files/img/rome/im-main.jpg" alt="" class="img" title="Рим, Італія">
                </div>
                <div class="cont">
                    <img src="../files/img/rome/Italy-Roma-6.jpg" alt="" class="img" title="Рим, Італія">
                    <img src="../files/img/rome/Rome_5.jpg" alt="" class="img" title="Рим, Італія">
                </div>
                <div class="cont">
                    <img src="../files/img/rome/unnamed.jpg" alt="" class="img" title="Рим, Італія">
                    <img src="../files/img/rome/vatikan.gif" alt="" class="img" title="Рим, Італія">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p><a href="../index.html">Головна | </a><a href="../contact.html">Конаткти | </a><a href="../location.html">Локація</a></p>

    </footer> 
</body>
</html>